node_modules/
.next/
.env*
!.env.example
*.tsbuildinfo
playwright-report/
test-results/
.preview/


# Mengabaikan semua file markdown
*.md

# (Opsional) Jangan abaikan README.md karena biasanya GitHub membutuhkannya
!README.md